.DS_Store
node_modules
/build
/.svelte-kit
/package
/coverage/
/coverage/lcov-report/
/coverage/lcov-report/src/
/coverage/lcov-report/src/helpers/rest/
/coverage/lcov-report/src/helpers/shared/
/coverage/lcov-report/src/components/
